:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  /* --color-secondary: #19376d; */
  --color-secondary: #0f2d3a;
  --color-dark: #0b2447;
  /* --color-bg: #04152d; */
  --color-bg: #044254;

  /* Fonts */
  --font-roboto: "Roboto";
}
