:root {
  /* Colours */
  --color-text: #f4f6fb;
  --color-primary: #4f8cff;
  --color-secondary: #232946;
  --color-dark: #16161a;
  --color-bg: #161b22;

  /* Accent */
  --color-accent: #ffb400;

  /* Fonts */
  --font-roboto: "Roboto", Arial, sans-serif;
}
